In [8]:
# cx_Oracle 패키지 모듈들을 import
import pandas as pd
import cx_Oracle as oci

# Oracle 서버와 연결(Connection 맺기)
conn = oci.connect('SYSTEM/1234@localhost:1521/xe')

# Connection 확인
print(conn.version)
df = pd.read_sql("select * from olist_customer_dataset",con=conn)


# # Oracle DB의 test_member 테이블 검색(select)
# cursor = conn.cursor() # cursor 객체 얻어오기
# cursor.execute('select * from olist_customer_dataset') # SQL 문장 실행
# print(cursor.fetchall())
# # for rs in cursor:
# #     print(rs)

# cursor.close() # cursor 객체 닫기

# Oracle 서버와 연결 끊기
conn.close

11.2.0.2.0

In [9]:
df.head()

,CUSTOMER_ID,CUSTOMER_UNIQUE_ID,CUSTOMER_ZIP_CODE_PREFIX,CUSTOMER_CITY,CUSTOMER_STATE
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP